
/* PARAGRAPHS */
#p1:after {
    content: "It does not matter";
    color: red;
    font-size: 20px;
}

#p2:before {
    content: "it matters! ";
    color: red;
    font-size: 20px;
}

/* 'firs-letter' is a pseudo-selector' */
#p3:first-letter {
    font-size: 200%;
    color: #bb1e1e;
}

/* 'firs-letter' is a pseudo-selector' */
#p2:first-line{
    background-color: rgb(230, 230, 17);;
    font-variant: small-caps;;
}

/* TITLE */
h1 {
    position: relative;
    text-align: center;
}

h1:after {
    content: "";
    background-image: linear-gradient(120deg, #e5ea15, #00c4ff);
    width: 90%;
    height: 5px;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%) skew(-50deg);
}

/* LIST */
ul>li::marker {
    content: "🌙";
    font-size: 90%;
}

ol>li::marker {
    content: ">";
    font-size: 90%;
}

/* LINKS */

a {
    text-decoration: none;
}

/* Every link that starts with 'https' will appear in black */
a[href^="https"] {

    /* display block takes up all the horizontal space */
    display: block;
    color: black;
}

a[href^="https"]::after {
    content: "🌐";
}

a[href$="pdf"]::after {
    content: "📝"; 
}

