body {
    padding: 0px;
    margin: 0px;
}

#main-div {
    background-color: lightcyan;
    overflow: hidden;
}

#div1, #div2 {
    width: 140px;
    height: 140px;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    opacity: 0.3;
}

#div1 {
    background-color: yellow;
    float: left;
    margin-right: 20px;
}

#div2 {
    background-color: lightcoral;
    float: right;
    margin-left: 20px;
}

p {
    text-align: justify;

    /* preventing overlap by floating */
    clear: both;
}