* {
    /* border and padding will be a part of width and height */
    box-sizing: border-box;

}

img {
    /* eliminating the space between the images */
    float: left;
    
    /*
    each image occupies 1/4 of the page

    remembering, because the box sizing is defined as border-box,
    width is consering margin and padding as part of it
    */
    width: 25%;

    border: solid 10px black;
    border-radius: 20px;
}