/* Imporiting the site's main font */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Handjet:wght@300&family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Handjet:wght@300&family=Sofia&family=Spline+Sans+Mono:ital,wght@1,300&display=swap');

:root {
    --mainColor: #0b2e60;
    --secondColor: #000a11;
    --accentColor: #0353A4;
    --attentionColor: #fa5e04;
    --thirdColor: #0b8aeb;
}

* {
    font-family: 'Albert Sans', sans-serif;
}

body {
    background-color: var(--secondColor);
    margin: 0px;
}

/* HEADER */    
.header {
    background-image:  linear-gradient(0deg, var(--mainColor), var(--accentColor));
    color: #B9D6F2;

    padding: 20px 0px 20px 40px;
    gap: 20px;
    
    display: flex;
    flex-direction: row;
    align-items: center;

    border-bottom: solid 3px var(--thirdColor);
}

.header > .header-titles > .first-title {
    font-family: 'Albert Sans';
    font-size: 35px;
    font-weight: bolder;
}

.header > .header-titles > h2 > i {
    font-family: 'Spline Sans Mono';
    font-weight: lighter;
    font-size: 20px;

    color: var(--attentionColor);
}

.header > .header-image {
    width: 100px;
    height: 100px;

    border-radius: 50%;
}

.header > .header-titles {
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 1px;
}

/* LINKS */
.list {
    display: flex;
    flex-direction: row;
    justify-content: center;

    margin: 0px;
    padding: 60px;
    gap: 100px;

    list-style: none;
}

.list > .list-item a {
    text-decoration: none;
    font-size: 20px;
    font-weight: lighter;

    padding: 10px;

    background-color: var(--mainColor);
    color: var(--thirdColor);

    border-radius: 13px;
    border: solid 4px var(--accentColor);

    font-family: 'Spline Sans Mono';
}

.list > .list-item > a:hover{
    font-weight: bolder;

    padding: 9px;
}

.list > .list-item > #current-link {
    background-color: var(--accentColor);
    color: var(--attentionColor);

    border: solid 4px var(--attentionColor);
}

/* CENTRAL PART */
.presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 330px;
    gap: 25px;
}

/* BODY CARD */
.presentation > .presentation-text {
    background-color: var(--mainColor);
    color: var(--secondColor);

    display: inline-block;
    flex-direction: column;
    justify-content: center;

    border-radius: 30px;

    padding: 15px;

    width: 470px;
}

.presentation > .presentation-text > h1 {
    font-size: 25px;
    font-weight: bolder;
    color: #fa5e04;
}

.presentation > .presentation-text > h2 {
    font-family: 'Albert Sans';
    font-size: 25px;
    word-wrap: break-word;
}

.presentation > .presentation-text > h2 > i {
    font-family: 'Spline Sans Mono';
}

.presentation > .presentation-text > .presentation-text-link > a {
    font-family: 'Albert Sans';
    font-size: 20px;
    font-weight: bolder;
    color: var(--attentionColor);

    text-decoration: none;
    
    border: solid 4px var(--accentColor);
    border-radius: 30px;
    padding: 15px;

    margin-left: 15px;
}

.presentation > .presentation-text > .presentation-text-link > a:hover {
    color: var(--secondColor);
    background-color: var(--attentionColor);

    font-size: 21px;
    font-weight: bolder;
}

.presentation > .presentation-text > .presentation-text-link {
    margin-top: 60px;
}

/* BODY IMAGE */ 

.presentation > .presentation-image > img {
    width: 500px;
    height: 330px;
    border-radius: 30px;
}

.content-organization {
    padding: 50px;
}

.content-organization > h3 {
    font-size: 25px;
    color: var(--accentColor);
}

.definition-list > dt {
    font-size: 20px;
    color: var(--attentionColor);   
}

.definition-list > dt > a {
    text-decoration: none;
    color: var(--attentionColor);
}

.definition-list > dt > a:hover {
    text-decoration: underline;
}

.definition-list > dd {
    font-size: 20px;
    color: #0353A4;
}

/* FOOTER */
.footer {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
}

.footer > p {
    font-size: 13px;
    
    padding: 20px 0px 0px 0px;
}

.footer > img {
    width: 100px;
    padding: 20px;
}

