body {
    margin: 10px;
    background-color: #dd8623;
}

#container > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2rem;
}

#container {
    display: grid;
    grid-template: repeat(2, 50px) / repeat(3, 1fr);
    grid-gap: 10px;
}

#container > div:nth-child(1n) {
    background-color: blue;   
}

#container > div:nth-child(2n) {
    background-color: aqua;
}

#container > div:nth-child(3n) {
    background-color: brown;
}

#container > div:nth-child(4n) {
    background-color: red;
}