:root{
    /* CSS HEX */
--celadon: #b0f2b4ff;
--celeste: #baf2e9ff;
--columbia-blue: #bad7f2ff;
--orchid-pink: #f2bac9ff;
--dutch-white: #f2e2baff;
}


body{
    background: red url("cat.png") repeat fixed;
    background-size: 150px;

    margin: 0px;
}

h1{
    background-color: rgb(255, 0, 0);
    width: 190px;
}
h2{
    background-color: rgb(250, 0, 0);
    width: 300px;
}

h1, h2{
    border: 4px solid rgb(0, 200, 200);
}

p{
    background-color: rgba(120, 120, 0, 0.6);

    border:3px solid black;
    border-style: solid dotted solid dotted;
    border-top-right-radius: 40px;

    margin: 100px auto ;
    padding: 20px ;

    width: 1000px ;
    height: 40px;

    /* external border */
    outline: var(--orchid-pink) solid 3px;
    outline-offset:15px;
    
}