body {
    margin: 20px;
}

* {
    padding: 0;
    margin: 0;
    /* a borda faz parte do elemento */
    box-sizing: border-box
}

#display {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    width: 50% ;
    height: 120px;
    border: solid 20px black;
}

#buttons {
    background-color: black;
    height: 400px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;

    position: relative;
    bottom: 0;
}

#buttons > div {
    width: 27%;
    background-color: gray;
    text-align: center;
    line-height: 75px;
}

#div7 { order: 1; }
#div8 { order: 2; }
#div9 { order: 3; }
#div4 { order: 4; }
#div5 { order: 5; }
#div6 { order: 6; }
#div1 { order: 7; }
#div2 { order: 8; }
#div3 { order: 9; }
#div0 { order: 10; }
