body{
    margin: 0px;
    padding: 0px;

    font-family: 'Times New Roman', Times, serif
}

.header {
    position: relative;
    width: 100vw;
    height: 15vh;
}

h1 {
    position: absolute;
    font-size: 5vh;
    margin: 0px;
    top: 5vh;
    left: 5vw
}

.header p {
    position: absolute;
    font-size: 3vh;
    margin: 0px;
    top: 10vh;
    left: 5vw;

    font-family: monospace;
    color: gray;
}

a {
    position: absolute;
    top: 5vh;
    right: 5vw;
    font-size: 5vh;

    text-decoration: none;
    text-transform: lowercase;
}

a:hover {
    text-decoration: underline;
}

.paragraphs {
    width: 90vw;
    height: 85vh;
    margin: auto;
}

.paragraphs p {
    display: inline-block;
    margin-top: 20px;
    width: 28vw;
    height: 100vh;
    position: relative;
    left: 2vw;
    padding: 5px;
}

.paragraphs p:first-child {
    border-right: solid 1px gray;
}

.paragraphs p:nth-child(2){
    border-right: solid 1px gray;
}