body {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: gray;
    width: 100vw;
    height: 20vh;
}

.navbar {
    background-color: black;
    width: 100vw;
    height: 5vh;
}

.center {
    width: 100vw;
    height: 60vh;
}

.left-menu {
    background-color: rgb(238, 209, 170);
    display: inline-block;
    width: 15vw;
    height: 60vh;   
}

.main {
    display: inline-block;
    width: 70vw;
    height: 60vh;
}

.right-menu {
    background-color: antiquewhite;
    display: inline-block;
    width: 15vw;
    height: 60vh;
}

.footer {
    background-color: rgb(180, 221, 180);
    width: 100vw;
    height: 15vh;
}